@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #0a192f;
}
#home {
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
}
#home .main {
  height: 100vh;
  padding: 6rem 0rem 0rem 8rem;
}
#home h2 {
  font-size: 4rem;
  color: #ccd6f6;
  margin-bottom: 1.3rem;
}
#home h1 {
  font-size: 4rem;
  color: #8892b0;
  line-height: -1.5rem;
}
#home p {
  font-size: 1.5rem;
  color: #8892b0;
  margin-top: 1.3rem;
}
.button {
  display: inline-block;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem 6rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  color: #8892b0;
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-top: 3rem;
  text-decoration: none;
}
.grad_button {
  box-shadow: 2px 1000px 1px #0a192f inset;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
}
/* //About */
#about {
  background-color: #fafafa;
  position: relative;
}
#about .navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  align-content: center;
}
.logo {
  font-family: "Yellowtail", cursive;
}
.logo a {
  text-decoration: none;
  color: #595959;
  font-size: 2rem;
}
.navbar ul {
  list-style: none;
  display: flex;
  text-transform: uppercase;
}
.navbar ul li {
  padding: 1rem;
}
.navbar ul li a {
  text-decoration: none;
  color: #595959;
}
.navbar ul li a:hover {
  border-bottom: 3px #bbbaba solid;
}
.container {
  margin: 0 auto;
  width: 1100px;
}
.inner_container {
  display: flex;
  flex-direction: column;
}
.about_me h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.about_me p {
  font-size: 2rem;
  color: #595959;
  font-weight: lighter;
  margin-bottom: 0.8rem;
}
.about_me a {
  padding: 1.6rem 5rem;
}
.grey_button {
  margin-bottom: 5rem;
}
.about_me .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.wave_down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave_down svg {
  position: relative;
  display: block;
  width: calc(100% + 1.5px);
  height: 120px;
}

.wave_down .shape-fill {
  fill: #efefef;
}
/* //Projects */
#projects {
  background-color: #efefef;
  padding-bottom: 3rem;
}
#projects h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0 3rem 0;
  color: #595959;
}
#projects .proj {
  display: flex;
  color: #595959;
  padding: 4rem 0 4rem 0;
}
#projects .proj h2 {
  font-size: 1.8rem;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0;
}
#projects .proj p {
  font-size: 1.3rem;
  margin: 1rem 0 1rem 0;
}
#projects .proj ul {
  display: flex;
}
#projects .proj li {
  padding: 1rem 2rem 1rem 0;
}
#projects .links a {
  text-decoration: none;
  font-size: 2rem;
  color: #7e7b7b;
  padding-right: 1rem;
}
#projects img {
  height: 20rem;
  width: 35rem;
  border-radius: 0 50px 0 50px;
  position: relative;
}

#projects .proj_right {
  padding-left: 4rem;
  position: relative;
}
.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* //Footer */
footer {
  padding: 2rem;
  color: #8892b0;
  position: relative;
}
#contact .inner_container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
footer ul {
  list-style: none;
  display: flex;
}
footer ul li {
  padding: 1rem;
}
footer a {
  text-decoration: none;
  font-size: 2rem;
}
footer p {
  font-size: 1.3rem;
}
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 115px;
}

.wave .shape-fill {
  fill: #efefef;
}
